body {
  margin: 0;
  font-family: Arial;
  background: #000;
  color: white;
}

/* CENTRADO */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CARD */
.card {
  background: #111;
  padding: 30px;
  border-radius: 25px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

/* LOGIN */
.login-card {
  animation: fadeIn 0.5s ease;
}

/* LOGOS */
.logo {
  width: 200px;
  margin-bottom: 15px;
}

.logo-small {
  width: 100px;
}

/* INPUT */
input {
  width: 100%;
  padding: 14px;
  margin: 8px 0;
  border-radius: 12px;
  border: none;
  background: #1a1a1a;
  color: white;
  font-size: 15px;
}

/* BOTONES */
button {
  padding: 12px;
  border-radius: 12px;
  border: none;
  margin-top: 8px;
  background: #222;
  color: white;
  cursor: pointer;
}

.btn-main {
  background: #2563eb;
}

.btn-blue {
  background: #2563eb;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 20px 0;
}

/* BANK ITEM */
.bank {
  background: #1a1a1a;
  height: 70px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}

.bank:hover {
  background: #2563eb;
  transform: scale(1.05);
}

/* ACTIVO */
.bank.active {
  border: 2px solid #2563eb;
  box-shadow: 0 0 10px #2563eb;
}

/* LOGO FIX */
.bank img {
  max-width: 80px;
  max-height: 35px;
  object-fit: contain;
}

/* TOP */
.top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* ANIMACIONES */
@keyframes fadeIn {
  from {opacity:0; transform:translateY(10px);}
  to {opacity:1; transform:translateY(0);}
}

/* HIDDEN */
.hidden {
  display: none;
}
